version: '3.8'

services:
  database:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  server:
    build: ./server
    ports:
      - "5000:5000"
    depends_on:
      - database
    environment:
      - MONGODB_URI=mongodb://database:27017/placement_tracker
      - JWT_SECRET=your_jwt_secret
      - PORT=5000

  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server

volumes:
  mongo-data:
